<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="127.0.0.1:5000"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Cert Tracker"/>
    <meta property="og:description" content="Track your certification study path with ease"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/og_site_img.png') }}"/>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <script>
        // update dark mode if it's turned on
        if (window.localStorage.getItem("darkMode")) {
            document.documentElement.classList.add("dark");
        }
    </script>
    
    <!-- outer container -->
    <div class="flex flex-col md:flex-row text-slate-800 dark:text-slate-100">

        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="msg-container" class="z-10 flex flex-col flex-wrap w-full fixed top-0 {{ category }} font-bold text-md tracking-wider shadow-lg p-6">
                        <p class="text-center py-2 pl-2">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- side panel -->
        <div class="w-full md:w-96 border-b-2 bg-slate-100 dark:bg-slate-700 md:border-b-0 md:border-r-2 border-yellow-400">
            <!-- image and links -->
            <div class="w-full md:w-96 sticky top-32 left-1/4 text-center tracking-wide max-md:mb-8">
                <img class="h-56 w-56 rounded-full border-4 border-yellow-400 my-8 m-auto" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="avatar">
                <h1 class="text-2xl font-bold pb-6">Cert Tracker</h1>
                <span class="block w-16 h-4 border-b-4 border-fuchsia-500 m-auto"></span>
                <div class="flex flex-col justify-center my-8 text-xl">
                    <a class="w-fit m-auto mb-2" href="{{ url_for('core.index') }}"><span class="cursor-pointer hover:text-fuchsia-500">About</span></a>
                    <a class="w-fit m-auto mb-2" href="{{ url_for('certs.search') }}"><span class="cursor-pointer hover:text-fuchsia-500">Search</span></a>
                    <a class="w-fit m-auto mb-2" href="{{ url_for('content.create_cert') }}"><span class="cursor-pointer hover:text-fuchsia-500">Add cert</span></a>
                    <a class="w-fit m-auto mb-2" href="{{ url_for('certs.certs') }}"><span class="cursor-pointer hover:text-fuchsia-500">Certs</span></a>
                    <p id="set-dark" class="block dark:hidden w-fit m-auto mb-2">Mode | <span class="cursor-pointer hover:text-fuchsia-500" onclick="toggleDarkMode()">Dark</span></p>
                    <p id="set-light" class="hidden dark:block w-fit m-auto mb-2">Mode | <span class="cursor-pointer hover:text-fuchsia-500" onclick="toggleDarkMode()">Light</span></p>
                </div>
                <!-- footer -->
                <div class="hidden md:block w-full md:w-96 text-center mt-56 pb-4">
                    <div>
                        <p>Built and maintained by SedexDev</p>
                        <p>v1.0 @ 10/2024</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content -->
        <div class="w-full md:w-4/5 md:h-screen md:overflow-y-auto bg-gradient-to-tr from-slate-100 to-slate-200 dark:from-slate-700 dark:to-slate-900 tracking-wider py-16 px-6 lg:py-32 lg:px-40 min-[1200px]:px-52">
            {% block content %} {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sections.js') }}"></script>
    <script src="{{ url_for('static', filename='js/windows.js') }}" async></script>
    <script src="{{ url_for('static', filename='js/state.js') }}" async></script>
</body>
</html>