@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  /* Flash messages */
  .message {
    background-color: rgb(163 230 53);
  }
  .error {
    color: white;
    background-color: rgb(226, 75, 75);
  }
  .selected {
    border-bottom: 4px rgb(250 204 21) solid;
    color: rgb(217 70 239);
  }
  .form-btn {
    background-color: rgb(250 204 21);
    border-radius: 0.375rem;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .form-btn-dark {
    color: rgb(30 41 59);
  }
  .form-btn:hover {
    background-color: rgb(217 70 239);
    color: white;
    transition: all 200ms ease-in-out;
  }
  .input-field {
    height: 2.5rem;
    width: 100%;
    color: rgb(30 41 59);
    border-radius: 0.375rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .input-field ::placeholder {
    font-style: italic;
  }
  .input-field:focus {
    border-width: 2px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: rgb(250 204 21);
  }
  .section {
    color: rgb(30 41 59);
    accent-color: #fff;
    border-radius: 0.375rem;
  }
  .section::placeholder {
    font-style: italic;
  }
  .section:focus {
    border-width: 2px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: rgb(250 204 21);
  }
}
