{% from 'macros/updates.html' import update_cert with context %}
{% from 'macros/window.html' import cert_window with context %}

{% macro list_certs(certs) %}
    {% for cert in certs %}
        <a href="{{  url_for('data.cert_data', cert_id=cert.id) }}">
            <div class="flex flex-col md:flex-row md:justify-between bg-gradient-to-tr from-slate-100 to-slate-200 dark:from-slate-700 dark:to-slate-800 hover:to-slate-500 md:border-yellow-400 md:border-l-4 mb-8 p-4">
                <div class="flex md:hidden w-full justify-end">
                    <p class="text-lg w-fit text-slate-800 hover:text-white cursor-pointer mb-2 mr-6" onclick="displayUpdateCert(event, '{{ cert.id }}')">&#x1F589;</p>
                    <p class="text-2xl w-fit text-slate-800 hover:text-white cursor-pointer mb-2" onclick="displayCertWindow(event, 'window-container-cert-{{ cert.id }}')">&#x2715;</p>
                </div>
                <div>
                    <img class="w-full md:w-72 h-auto" src="{{ url_for('static', filename='images/data/' ~ cert.head_img) }}" alt="cert image">
                </div>
                <div class="flex justify-between w-full">
                    <div class="flex flex-col justify-between mt-4 md:ml-6">
                        <p class="text-xl">{{ cert.name }} - {{ cert.code }}</p>
                        <p class="mt-2">Uploaded: {{ cert.created }}</p>
                        <div class="flex flex-row max-md:flex-wrap max-md:gap-1 mt-6">
                            {% for tag in cert.tags.split(',') %}
                            <p class="bg-yellow-400 text-sm md:text-md dark:text-slate-800 tracking-wider rounded-lg block mr-2 py-1 px-2" href="#">{{ tag }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex">
                        <p class="hidden md:block text-lg h-fit text-slate-800 dark:text-slate-100 hover:text-slate-100 dark:hover:text-slate-800 cursor-pointer mr-4" onclick="displayUpdateCert(event, '{{ cert.id }}')">&#x1F589;</p>
                        <p class="hidden md:block text-2xl h-fit text-slate-800 dark:text-slate-100 hover:text-slate-100 dark:hover:text-slate-800 cursor-pointer" onclick="displayCertWindow(event, 'window-container-cert-{{ cert.id }}')">&#x2715;</p>
                    </div>
                </div>
            </div>
        </a>
        {{ update_cert(form, cert) }}
        {{ cert_window(cert.id) }}
    {% endfor %}
{% endmacro %}
