{% from 'macros/cards.html' import import_card with context %}

{% macro create_resource(resource_form, og_data) %}
    <form class="hidden mt-12" id="resource-form" action="{{ url_for('content.create_resource') }}" method="post" enctype="multipart/form-data">
        <ul>
            <li>{{ resource_form.csrf_token }}</li>
            {% if og_data %}
                <input type="hidden" name="has_og_data" value="True">
            {% endif %}
            <input type="hidden" name="cert_id" value="{{ cert.id }}">
            <div class="flex justify-between">
                <li>{{ resource_form.resource_type.label }}<span class="text-red-600"> *</span></li>
                <p class="text-lg hover:text-fuchsia-500 cursor-pointer" onclick="hideResourceForm('resource-form')">&#x2715;</p>
            </div>
            <div class="flex flex-col my-4">
                {% for btn in resource_form.resource_type %}
                    <div>
                        <span class="mr-4">{{ btn }}</span>
                        <span>{{ btn.label }}</span>
                    </div>
                {% endfor %}
            </div>
            {% if og_data %}
                <p class="text-md text-fuchsia-800 dark:text-fuchsia-400 italic mb-4">
                    <span class="text-red-600">*&nbsp;</span>
                    Data pulled using the Open Graph protocol
                </p>
                <li>{{ resource_form.url.label(for="resource-url", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.url(id="resource-url", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]", onblur="this.form.submit();", value=og_data[0].url) }}</li>
                <li>{{ resource_form.title.label(for="resource-title", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.title(id="resource-title", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]", value=og_data[0].title) }}</li>
                <li>{{ resource_form.description.label(for="resource-description", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.description(id="resource-description", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]", value=og_data[0].description) }}</li>
                <li>{{ resource_form.site_name.label(for="resource-site-name", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.site_name(id="resource-site-name", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]", value=og_data[0].site_name) }}</li>
                <li>{{ resource_form.image.label(for="resource-image", class="text-lg my-2") }}</li>
                {% if og_data[0].image %}
                    <input id="resource-image" class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]" type="text" name="image" value="{{ og_data[0].image }}">
                {% else %}
                    <li>{{ resource_form.image(id="resource-image", class="my-2 cursor-pointer") }}</li>
                {% endif %}
            {% else %}
                <li>{{ resource_form.url.label(for="resource-url", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.url(id="resource-url", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]", onblur="this.form.submit(); updateResourceFormState('true');") }}</li>
                <li>{{ resource_form.title.label(for="resource-title", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.title(id="resource-title", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]") }}</li>
                <li>{{ resource_form.description.label(for="resource-description", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.description(id="resource-description", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]") }}</li>
                <li>{{ resource_form.site_name.label(for="resource-site-name", class="text-lg my-2") }}<span class="text-red-600"> *</span></li>
                <li>{{ resource_form.site_name(id="resource-site-name", class="input-field autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)]") }}</li>
                <li>{{ resource_form.image.label(for="resource-image", class="text-lg my-2") }}</li>
                <li>{{ resource_form.image(id="resource-image", class="my-2 cursor-pointer") }}</li>
            {% endif %}
            <li>{{ resource_form.site_logo.label(for="resource-site-image", class="text-lg my-2") }}</li>
            <li>{{ resource_form.site_logo(id="resource-site-image", class="my-2 cursor-pointer") }}</li>
        </ul>
        <input class="form-btn dark:form-btn-dark my-8 py-2 px-4" type="submit" value="Add" onclick="updateResourceFormState('false')"> 
    </form>
{% endmacro %}

{% macro import_resources(resources) %}
    <form class="hidden mt-12" id="resource-import-form" action="{{ url_for('content.import_resource') }}" method="post">
        <div class="flex flex-col w-full">
            <input type="hidden" name="cert_id" value="{{ cert.id }}">
            <div class="flex justify-between mb-8">
                <p class="text-2xl">Available resources</p>
                <p class="text-xl hover:text-fuchsia-500 cursor-pointer" onclick="hideResourceForm('resource-import-form')">&#x2715;</p>
            </div>
            <!-- display resources for each type -->
            {% if resources.videos %}
                <p class="text-xl my-2">Videos</p>
                {% for resource in resources.videos %}
                    {{ import_card(resource) }}
                {% endfor %}
            {% endif %}
            {% if resources.articles %}
                <p class="text-xl my-2">Articles</p>
                {% for resource in resources.articles %}
                    {{ import_card(resource) }}
                {% endfor %}
            {% endif %}
            {% if resources.documents %}
                <p class="text-xl my-2">Documentation</p>
                {% for resource in resources.documents %}
                    {{ import_card(resource) }}
                {% endfor %}
            {% endif %}
        </div>
        <!-- check if the resources lists are empty using a namespace -->
        {% set ns = namespace(resources_found=false) %}
        {% for _, list in resources.items() %}
            {% if list|length > 0 %}
                {% set ns.resources_found = true %}
            {% endif %}
        {% endfor %}
        <!-- if resources are found display the import button -->
        {% if ns.resources_found %}
            <input class="form-btn dark:form-btn-dark my-4 mx-auto py-2 px-4" type="submit" value="Import"> 
        {% else %}
            <p class="text-fuchsia-800 dark:text-fuchsia-400 text-lg italic mt-6">No resources available</p>
        {% endif %}
    </form>
{% endmacro %}