{% extends 'base.html' %}

{% block content %}

<div class="text-center my-4">
    <h1 class="text-3xl font-bold">Certification Tracking Space</h1>
</div>
<img class="h-auto w-32 my-8 mx-auto" src="{{ url_for('static', filename='images/certificate.svg') }}" alt="certificate icon">
<div class="my-6">
    <h2 class="text-2xl font-bold">About</h2>
</div>
<div class="border-l-4 border-yellow-400 pl-8 my-12">
    <p>
        This is a project I am working on to help me track my progress through various certifications.
        I have a habit of starting a certification and then getting distracted by another one, or
        just not finishing the one I started. This project is an attempt to help me stay focused and
        organised. I have opted to make this public in the hopes that it will help others as well.
    </p>
</div>
<div class="my-6">
    <h2 class="text-2xl font-bold">Features</h2>
</div>
<div class="border-l-4 border-yellow-400 pl-8 my-12">
    <p>This application wil allow you to:</p>
    <ul class="ml-16 my-4">
        <li class="list-disc">Track separate certifications in dedicated instances</li>
        <li class="list-disc">Upload course links and add sections sections</li>
        <li class="list-disc">Include links to articles and documentation</li>
        <li class="list-disc">Track flash card creation</li>
        <li class="list-disc">Set exam dates</li>
        <li class="list-disc">Tag certifications for quick searching</li>
    </ul>
    <p>
        In-progress features include:
    </p>
    <ul class="ml-16 my-4">
        <li class="list-disc">Timeline of achievements</li>
        <li class="list-disc">Email reminders to help stay on track</li>
        <li class="list-disc">Statistical analysis dashboard</li>
        <li class="list-disc">In-app notes and directory structure</li>
        <li class="list-disc">Digital flash cards</li>
        <li class="list-disc">Cost analysis</li>
        <li class="list-disc">Practice test resource organiser</li>
    </ul>
</div>
<div class="my-6">
    <h2 class="text-2xl font-bold">Contributions</h2>
</div>
<div class="border-l-4 border-yellow-400 pl-8 my-12">
    <p>
        I am a lone developer on this project, so updates may be slow. I am also learning as I go, so
        if you like this project feel free to contribute or offer suggestions on 
        <a class="text-yellow-400 dark:text-yellow-400 font-bold cursor-pointer" href="http://github.com/sedexdev/cert_tracker" target="_blank">Github</a>,
        and if you really like it please take a moment to hit the link below &#128540;
    </p>
</div>
<div id="bmc-button-container">
    <a href="https://www.buymeacoffee.com/andrewmacmillan" target="_blank">
        <img class="rounded my-12 m-auto hover:shadow-md hover:shadow-slate-600" src="https://cdn.buymeacoffee.com/buttons/default-yellow.png" alt="Buy Me A Coffee" height="48" width="200">
    </a>
</div>

{% endblock %}